@using CommerceProject.Business.Entities

@{
    ViewBag.Title = "Siparis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var kullanici = ViewBag.Kullanici as Kullanici;
    var gonderimler = ViewBag.Gonderimler as List<Gonderim>;
}

<section id="main" class="page ">
    <input id="hdnKullaniciId" type="hidden" value="
               @if (kullanici == null) {
                   @Html.Raw("0"); }
               else {
                    @Html.Raw(kullanici.KullaniciId.ToString());
               }" />

    @if (kullanici == null)
    {
        <header class="page-header">
            <div class="container">
                <h1 class="title">Kargo Takip</h1>
            </div>
        </header>
        <div class="container" data-appear-animation="fadeIn">
            <div class="row">
                <div class="text-center col-sm-12 col-md-12">
                    <div class="content-block frame text-center bottom-padding">
                        <p class="lead">Lütfen siparişleriniz hakkında daha detaylı bilgi alabilmek için üye girişi yapınız</p>
                        <p>
                            <button class="btn btn-warning" onclick="location.href = '/Kullanici/Giris';"> Üye girişi yapabilmek için tıklayınız</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-sm-12 col-md-12">
                    <div class="list-group">
                        @foreach (var gonderim in gonderimler)
                        {
                            <a href="@gonderim.GonderimSorgulamaLink" target="_blank" class="list-group-item">
                                <p class="list-group-item-text">
                                    <div class="icon-bg">
                                        <img src="@gonderim.Resim" style="height:50px;">
                                    </div>
                                    <br />
                                    <span>@gonderim.Adi</span>
                                </p>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <header class="page-header">
            <div class="container">
                <h1 class="title">Sipariş Geçmişim</h1>
            </div>
        </header>
        <div class="container" data-appear-animation="fadeIn">
            <div class="row">
                <article class="col-sm-9 col-md-9 content">
                    <div id="divSiparis" class="info-box">
                        <div class="table-box text-small">
                            <table id="tableSiparis" class="table table-hover table-bordered table-striped table-condensed">
                                <thead>
                                    <tr class="first last">
                                        <th width="5%">Sipariş No</th>
                                        <th width="10%">Sipariş Tarihi</th>
                                        <th width="10%">Son İşlem Tarihi</th>
                                        <th width="10%">Gönderilen Kişi</th>
                                        <th width="5%"><span class="nobr">Sipariş Toplamı</span></th>
                                        <th width="10%">Durum</th>
                                        <th width="50%" class="text-center">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div id="footerInfo" class="row" style="display:none;">
                                <div class="col-md-12">
                                    <div class="input-group pull-left">
                                        <p id="tableInfo" style="color: #6f6f6f;font-size: 12px;"></p>
                                    </div>
                                    <div class="input-group pull-right">
                                        <ul id="ulPaging" class="no-margin pull-right"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                @Html.Partial("~/Views/Kullanici/Partials/KullaniciMenuPartial.cshtml")
            </div>
        </div>
    }
</section>

@section js{
    <script id="row" type="text/x-jquery-tmpl">
        <tr>
            <td>${SiparisId}</td>
            <td>${SiparisTarihi}</td>
            <td>${SonIslemTarihi}</td>
            <td>${GonderilenKisi}</td>
            <td>${SiparisToplam}</td>
            {{if SiparisDurumTipId==1 || SiparisDurumTipId==2}}
            <td class='text-default'><em>${SiparisDurumTipAdi}</em></td>
            {{else SiparisDurumTipId==3 }}
            <td class='text-info'><em>${SiparisDurumTipAdi}</em></td>
            {{else SiparisDurumTipId==4 }}
            <td class='text-success'><em>${SiparisDurumTipAdi}</em></td>
            {{else SiparisDurumTipId==5 ||SiparisDurumTipId==6 ||SiparisDurumTipId==7  }}
            <td class='text-warning'><em>${SiparisDurumTipAdi}</em></td>
            {{else SiparisDurumTipId==8 ||SiparisDurumTipId==9}}
            <td class='text-danger'><em>${SiparisDurumTipAdi}</em></td>
            {{/if}}
            <td class="text-center last">
                <div class="btn-group">
                    <a href="javascript: loadSiparisGonderimPartial('${SiparisId}')" class="btn btn-sm btn-warning">Kargo Takip</a>
                    <a href="javascript: loadSiparisDetayPartial('${SiparisId}')" class="btn btn-sm btn-info">Sipariş Detayı</a>
                    <a href="javascript: loadSiparisIadePartial('${SiparisId}')" class="btn btn-sm btn-default">Ürün İade</a>
                </div>
            </td>
        </tr>
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var id = $('#hdnKullaniciId').val();
            if (id != '0') {
                ara();
            }
        });

        function paging(totalCount, pageCount, pageIndex) {
            $('#ulPaging').pagination('destroy');
            $('#ulPaging').pagination({
                items: totalCount,
                itemsOnPage: pageCount,
                currentPage: pageIndex,
                cssStyle: 'light-theme',
                prevText: 'Önceki Sayfa',
                nextText: 'Sonraki Sayfa',
                onPageClick: function (pageNum) {
                    ara(pageNum, pageCount);
                }
            });
        }

        function ara(pageIndex, pageCount) {
            pageIndex = pageIndex == null ? 1 : pageIndex;
            pageCount = pageCount == null ? 5 : pageCount;

            $.ajax({
                url: '/Kullanici/SiparisAra',
                data: {
                    'sayfaSayisi': pageCount,
                    'sayfaSirasi': pageIndex
                },
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal('divSiparis');
                },
                success: function (result) {
                    hideLoadingModal('divSiparis');

                    $('#tableSiparis tbody').children().remove();
                    $('#row').tmpl(result.sonucListesi).appendTo('#tableSiparis tbody');

                    $('[data-toggle="tooltip"]').tooltip();

                    // table info
                    var txt = '';
                    if (result.toplamKayitSayisi > 0) {
                        var firstPart = ((result.sayfaSirasi - 1) * (result.sayfaSayisi) + 1);
                        var secondPart = (result.sayfaSirasi * result.sayfaSayisi) > result.toplamKayitSayisi ? result.toplamKayitSayisi : (result.sayfaSirasi * result.sayfaSayisi);
                        txt = 'Toplam ' + result.toplamKayitSayisi + ' kayıttan ' + firstPart + '-' + secondPart + ' gösteriliyor.';

                        $('#boxTools').show();
                        $('#footerInfo').show();
                    }
                    else {
                        txt = 'Hiç kayıt bulunamadı.';

                        $('#boxTools').hide();
                        $('#footerInfo').hide();
                    }
                    $('#tableInfo').text(txt);

                    paging(result.toplamKayitSayisi, result.sayfaSayisi, result.sayfaSirasi);
                },
                error: function () {
                    hideLoadingModal('divSiparis');
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
            });
        }

        function loadSiparisDetayPartial(siparisId) {
            var id = $('#hdnKullaniciId').val();
            if (id != '0') {
                $('#modalDialogBody').html('');
                $('#spnModalBaslik').text('Sipariş Detayı');

                $('#modalDialogBody').load('/Kullanici/SiparisDetayPartial', { siparisId: siparisId }, function () {
                    hideLoadingModal('modalDialogBody');
                });
                $('#modalDialog').modal('show');
                showLoadingModal('modalDialogBody');
            }
        }

        function loadSiparisGonderimPartial(siparisId) {
            var id = $('#hdnKullaniciId').val();
            if (id != '0') {
                $('#modalDialogBody').html('');
                $('#spnModalBaslik').text('Sipariş Kargo Takibi');

                $('#modalDialogBody').load('/Kullanici/SiparisGonderimPartial', { siparisId: siparisId }, function () {
                    hideLoadingModal('modalDialogBody');
                });
                $('#modalDialog').modal('show');
                showLoadingModal('modalDialogBody');
            }
        }

        function loadSiparisIadePartial(siparisId) {
            var id = $('#hdnKullaniciId').val();
            if (id != '0') {
                $('#modalDialogBody').html('');
                $('#spnModalBaslik').text('Sipariş İade Talepleri');

                $('#modalDialogBody').load('/Kullanici/SiparisIadeTalepPartial', { siparisId: siparisId }, function () {
                    hideLoadingModal('modalDialogBody');
                });
                $('#modalDialog').modal('show');
                showLoadingModal('modalDialogBody');
            }
        }
    </script>
}