@using CommerceProject.Business.Entities;

@{
    var adres = ViewBag.Adres as Adres;
}

<div class="table-responsive">
    <table class="table table-bordered no-margin">
        <tbody>
            <tr>
                <td style="width:20%;"><span class="bold">Adres Adı:</span></td>
                <td style="width:80%;">@adres.AdresAdi</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Fatura Tipi:</span></td>
                <td style="width:80%;">@adres.FaturaTip.Adi</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">T.C. Kimlik No:</span></td>
                <td style="width:80%;">@adres.TcNo</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Ad Soyad:</span></td>
                <td style="width:80%;">@adres.Ad @adres.Soyad</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Vergi No:</span></td>
                <td style="width:80%;">@adres.VergiNo</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Vergi Dairesi:</span></td>
                <td style="width:80%;">@adres.VergiDairesi</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Firma Unvanı:</span></td>
                <td style="width:80%;">@adres.FirmaUnvan</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Adres Bilgisi:</span></td>
                <td style="width:80%;">@adres.AdresBilgi</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Açıklama:</span></td>
                <td style="width:80%;">@adres.Aciklama</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">İlçe / İl:</span></td>
                <td style="width:80%;">@adres.AdresIlce.IlceAdi / @adres.AdresIl.IlAdi</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Posta Kodu:</span></td>
                <td style="width:80%;">@adres.PostaKodu</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Telefon 1:</span></td>
                <td style="width:80%;">@adres.Telefon1</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Telefon 2:</span></td>
                <td style="width:80%;">@adres.Telefon2</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Kayıt Tarihi:</span></td>
                <td style="width:80%;">@adres.Tarih.ToString("dd.MM.yyyy HH:mm")</td>
            </tr>
            <tr>
                <td style="width:20%;"><span class="bold">Aktif mi?:</span></td>
                <td style="width:80%;"><input id="txtAdresPartAktif" type="checkbox" class="make-switch" data-size="mini" data-on-text="Aktif" data-off-text="Pasif" @(adres.AktifMi ? "checked" : "") readonly></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#txtAdresPartAktif').bootstrapSwitch();
    });
</script>