@{
    ViewBag.Title = "RaporDusukStok";
    Layout = "~/Views/Shared/_MainRoot.cshtml";
}

<div class="portlet light bordered blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-puzzle font-white"></i>
            <span class="caption-subject bold font-white uppercase"> @ViewBag.PageProperties.PageHeader </span>
            <span class="caption-helper">@ViewBag.PageProperties.PageDescription</span>
        </div>
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                İşlemler
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="/Rapor/Index">
                        <i class="fa fa-save"></i> Raporlar
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="" class="fullscreen" data-original-title="Tam Ekran" title="Tam Ekran">
                        <i class="fa fa-arrows-alt"></i> Tam Ekran
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet-body">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter font-dark"></i>
                    <span class="caption-subject font-dark bold">Filtreleme Kriterleri</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="Genişlet / Daralt" title="Genişlet / Daralt"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <div class="col-md-4">
                                    <label class="control-label">Yıl</label>
                                    <select id="dropDownTarihYil" name="dropDownTarihYil" class="form-control select2" style="width:100%;" tabindex="1"></select>
                                </div>
                                <div class="col-md-8">
                                    <label for="dropDownUrun" class="control-label">
                                        Ürün<span style="font-size: 12px;color: #ef5e77;"> Ürün Adı / Ürün Kodu / Barkod No' ya göre arama yapabilirsiniz.</span>
                                    </label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <select id="dropDownUrun" name="dropDownUrun" class="form-control select2" style="width:100%;" tabindex="2"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="text-center">
                                <button type="button" class="btn purple-studio" onclick="javascript: detayGetir('/Rapor/RaporUrunStokAnaliz_ChartPartial')" tabindex="3">
                                    Chart Getir
                                    <i class="icon-bar-chart"></i>
                                </button>
                                @*<button type="button" class="btn blue-madison" onclick="javascript: detayGetir('/Rapor/RaporEnCokIstek_ListePartial')" tabindex="5">
                                    Liste Getir
                                    <i class="icon-list"></i>
                                </button>*@
                                <button type="button" class="btn green-meadow" onclick="javascript: temizle()" tabindex="4">
                                    Temizle
                                    <i class="fa fa-recycle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="divDetay">

        </div>

    </div>
</div>

@section js{
    <script src="~/Content/Theme/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
    <script src="~/Content/Theme/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>

    <script type="text/javascript">
        var urunListesi = @Html.Raw(Json.Encode(ViewBag.UrunListesi))
        var yillar = @Html.Raw(Json.Encode(ViewBag.Yillar))

        $(document).ready(function () {
            $('#dropDownUrun').select2({
                placeholder: "Ürün Ara...",
                allowClear: true,
                minimumInputLength: 3,
                language: {
                    noResults: function (params) {
                        return "Hiç kayıt bulunamadı.";
                    },
                    searching: function () {
                        return 'Aranıyor...';
                    },
                    inputTooShort: function (args) {
                        var remainingChars = args.minimum - args.input.length;
                        var message = 'En az ' + remainingChars + ' karakter daha girmelisiniz.';
                        return message;
                    },
                    errorLoading: function () {
                        return 'Sonuç yüklenemedi.';
                    },
                },
                ajax: {
                    url: '/Urun/UrunAra',
                    dataType: 'json',
                    type: 'get',
                    delay: 500,
                    params: {
                        contentType: 'application/json; charset=utf-8'
                    },
                    data: function (params) {
                        return {
                            term: params.term
                        };
                    },
                    processResults: function (data, params) {
                        var data = $.map(data, function (obj) {
                            obj.id = obj.id;
                            obj.text = obj.text;
                            return obj;
                        });

                        return {
                            results: data
                        };
                    },
                    escapeMarkup: function (m) { return m; }
                }
            });

            $('#dropDownTarihYil').select2({
                placeholder: "Yıl Seçiniz...",
                language: {
                    noResults: function (params) {
                        return "Hiç kayıt bulunamadı.";
                    }
                },
                data: yillar,
                escapeMarkup: function (markup) {
                    return markup;
                }
            }).val('@DateTime.Now.Year').trigger('change');
        });

        function detayGetir(url) {
            showLoadingModal();

            var tarihYil = $('#dropDownTarihYil').val();
            var urunId = ($('#dropDownUrun').val() != '' && $('#dropDownUrun').val() != null) ? $('#dropDownUrun').val() : 0;

            var urlQueryStr = url + '?tarihYil=' + tarihYil + '&urunId=' + urunId;

            $('#divDetay').html('');

            $('#divDetay').load(urlQueryStr, function () {
                hideLoadingModal();
            });
        }

        function temizle() {
            $('#dropDownUrun').val('').trigger('change');
            $('#dropDownTarihYil').val('@DateTime.Now.Year').trigger('change');

            $('#divDetay').empty();
        }
    </script>
}