@using CommerceProject.Business.Entities;

@{
    var siparis = ViewBag.Siparis as Siparis;
}

<style type="text/css">
    #tableSiparisGonderim tr td {
        padding: 5px !important;
    }
</style>

@if (ViewBag.Mesaj == null)
{
    <div class="row">
        <div class="col-md-12">
            <table id="tableSiparisGonderim" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:10%;">Takip No</th>
                        <th style="width:5%;">Adet</th>
                        <th style="width:10%;">Ürün</th>
                        <th style="width:15%">Gönderim</th>
                        <th style="width:10%">Gönderim Tarihi</th>
                        <th style="width:10%;">Teslim Zamanı</th>
                        <th style="width:10%;">Teslim Tarihi</th>
                        <th style="width:20%">Açıklama</th>
                        <th style="width:10%">Kayıt Tarihi</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var spDetay in siparis.SiparisDetay.Where(x => x.AktifMi == true).OrderBy(x => x.SiparisDetayId))
                        {
                            foreach (var spGonderim in spDetay.SiparisGonderim.Where(x => x.AktifMi == true).OrderBy(x => x.GonderimTarihi))
                            {
                                <tr>
                                    <td>
                                        @if(!string.IsNullOrEmpty(spGonderim.TakipNo))
                                        {
                                            <span style="font-weight:bold !important;">#@spGonderim.TakipNo</span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </td>
                                    <td>@spGonderim.Adet</td>
                                    <td>@spGonderim.SiparisDetay.Urun.Adi</td>
                                    <td>@spGonderim.Gonderim.Adi</td>
                                    <td>@spGonderim.GonderimTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>@spGonderim.TeslimZamani.Adi</td>
                                    <td>@(spGonderim.TeslimTarihi.HasValue ? spGonderim.TeslimTarihi.Value.ToString("dd.MM.yyyy HH:mm") : "")</td>
                                    <td>@spGonderim.Aciklama</td>
                                    <td>@spGonderim.OlusturmaTarihi.ToString("dd.MM.yyyy HH:mm")</td>                                 
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        @if(ViewBag.Mesaj != null)
        {
            @: callAlert('error', '@(ViewBag.Mesaj)');
        }
    });
</script>