@using CommerceProject.Business.Entities;

@{
    var siparis = ViewBag.Siparis as Siparis;
    var kullanici = ViewBag.Kullanici as Kullanici;
}

<style type="text/css">
    table tr td {
        padding: 5px !important;
    }
</style>

@if (ViewBag.Mesaj == null)
{
    <div id="iadeKosullari" style="display:none;">@(Html.Raw(ViewBag.IadeKosullari))</div>
    <div id="iadeTalepDiv" class="row">
        <div class="col-md-12">
            <label>Sipariş Detayları</label>
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    @{
                        foreach (var spDetay in siparis.SiparisDetay.Where(x => x.AktifMi == true).OrderBy(x => x.SiparisDetayId))
                        {
                            <tr>
                                <td width="100%">
                                    
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="text-center clearfix">
                                                @if (spDetay.Urun.UrunResim != null && spDetay.Urun.UrunResim.Any(x => x.UrunResimTipId == 2))
                                                {
                                                    <img class="replace-2x" src="@spDetay.Urun.UrunResim.First(x => x.UrunResimTipId == 2).ResimYolu" alt="" title="" width="270" height="270" />
                                                }
                                                else
                                                {
                                                    <img class='replace-2x' src='~/Content/Theme/img/empty_product.png' alt="" title="" width="270" height="270" />
                                                }
                                            </div>
                                            <div class="text-center clearfix">
                                                <p style="margin:10px 0px !important;font-weight: bold;font-size: 15px;">@(!string.IsNullOrEmpty(spDetay.Urun.Barkod) ? spDetay.Urun.Barkod : "-")</p>
                                                <p style="margin:0px !important;">@spDetay.Urun.Adi</p>
                                                <p>@spDetay.Adet Adet</p>
                                            </div>
                                        </div>
                                        <div class="col-md-9 row" style="padding-top: 50px;">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <input id="txtIadeTalepAdet@(spDetay.SiparisDetayId)" name="txtIadeTalepAdet@(spDetay.SiparisDetayId)" type="text" class="form-control input-sm integer" placeholder="Adet" data-bv-trigger="keyup" 
                                                            required data-bv-notempty-message="Adet girilmeli" />
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="drpIadeTalepNeden@(spDetay.SiparisDetayId)" name="drpIadeTalepNeden@(spDetay.SiparisDetayId)" class="form-control without-styles select2 input-sm talep-neden" style="width: 100%;"></select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="drpIadeTalepIstek@(spDetay.SiparisDetayId)" name="drpIadeTalepIstek@(spDetay.SiparisDetayId)" class="form-control without-styles select2 input-sm talep-istek" style="width: 100%;"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input id="txtIadeTalepAciklama@(spDetay.SiparisDetayId)" name="txtIadeTalepAciklama@(spDetay.SiparisDetayId)" type="text" class="form-control input-sm" placeholder="Açıklama" data-bv-trigger="keyup" 
                                                            required data-bv-notempty-message="Açıklama girilmeli" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="margin-top:75px;">
                                            <div class="text-center">
                                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="İade Talebi Yap" style="width:100%;" 
                                                        onclick="javascript: iadeTalebiYap('@spDetay.SiparisDetayId');">
                                                <i class="fa fa-share-square"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>İade Talepleri</label>
            <table id="tableSiparisIade" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:5%;">Adet</th>
                        <th style="width:5%;">Barkod</th>
                        <th style="width:10%;">Ürün</th>
                        <th style="width:10%;">Talep Nedeni</th>
                        <th style="width:10%">Talep İsteği</th>
                        <th style="width:10%">Talep Durumu</th>
                        <th style="width:10%;">İade Nedeni</th>
                        <th style="width:10%;">İade Sonrası Talep</th>
                        <th style="width:10%">Kullanıcı Açıklama</th>
                        <th style="width:10%">Personel Açıklama</th>
                        <th style="width:5%;">Talep Tarihi</th>
                        <th style="width:5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var spDetay in siparis.SiparisDetay.Where(x => x.AktifMi == true).OrderBy(x => x.SiparisDetayId))
                        {
                            foreach (var spIadeTalep in spDetay.IadeTalep.Where(x => x.AktifMi == true).OrderBy(x => x.OlusturmaTarihi))
                            {
                                <tr>
                                    <td>@spIadeTalep.Adet</td>
                                    <td>@spDetay.Urun.Barkod</td>
                                    <td>@spDetay.Urun.Adi</td>
                                    <td>@spIadeTalep.IadeTalepNedenTip.Adi</td>
                                    <td>@spIadeTalep.IadeTalepIstekTip.Adi</td>
                                    <td>@spIadeTalep.IadeTalepDurumTip.Adi</td>
                                    <td>@spIadeTalep.IadeNeden</td>
                                    <td>@spIadeTalep.IadeIstek</td>
                                    <td>@spIadeTalep.KullaniciAciklama</td>
                                    <td>@spIadeTalep.PersonelAciklama</td>
                                    <td>@spIadeTalep.OlusturmaTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>
                                        @if (spIadeTalep.IadeTalepDurumTipId == 1)
                                        {
                                            <button type="button" onclick="javascript: iadeTalebiSil('@spIadeTalep.IadeTalepId', this);" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="İade Talebini İptal Et ">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<script type="text/javascript">
    var iadeTalepNedenTipListesi = @Html.Raw(Json.Encode(ViewBag.IadeTalepNedenTipListesi))
    var iadeTalepIstekTipListesi = @Html.Raw(Json.Encode(ViewBag.IadeTalepIstekTipListesi))

    $(document).ready(function () {
        @if(ViewBag.Mesaj != null)
        {
            @: callAlert('error', '@(ViewBag.Mesaj)');
        }

        $(".integer").inputmask('integer', {
            min: 1,
            max: 9999,
            rightAlign: false,
        });

        $('[data-toggle="tooltip"]').tooltip();

        $('.talep-neden').select2({
            language: {
                noResults: function (params) {
                    return "Hiç kayıt bulunamadı.";
                }
            },
            data: iadeTalepNedenTipListesi,
            escapeMarkup: function (markup) {
                return markup;
            },
        }).val('1').trigger('change');

        $('.talep-istek').select2({
            language: {
                noResults: function (params) {
                    return "Hiç kayıt bulunamadı.";
                }
            },
            data: iadeTalepIstekTipListesi,
            escapeMarkup: function (markup) {
                return markup;
            },
        }).val('1').trigger('change');
    });

    function iadeTalebiYap(id) {
        if ($('#txtIadeTalepAdet'+ id).val() == '' || $('#txtIadeTalepAciklama' + id).val() == '') {
            callAlert('warning', 'Lütfen eksik alanları doldurunuz.');
            return false;
        }

        var iadeTalep = {
            SiparisDetayId: id,
            IadeTalepNedenTipId: $('#drpIadeTalepNeden' + id).val(),
            IadeTalepIstekTipId: $('#drpIadeTalepIstek' + id).val(),
            Adet: $('#txtIadeTalepAdet' + id).val(),
            KullaniciAciklama: $('#txtIadeTalepAciklama' + id).val(),
        };

        confirm('ONAY', $('#iadeKosullari').html(), function () {
            $.ajax({
                url: '/Kullanici/IadeTalepEkle/',
                type: "post",
                dataType: "json",
                data: JSON.stringify(iadeTalep),
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal('modalDialogBody');
                },
                success: function (result) {
                    
                    if (result.messageType == 'success') {
                        callAlert(result.messageType, result.message);

                        //showLoadingModal('modalDialogBody');
                        $('#modalDialogBody').load('/Kullanici/SiparisIadeTalepPartial', { siparisId: '@siparis.SiparisId', kullaniciId: '@(kullanici.KullaniciId.ToString())' }, function () {
                            hideLoadingModal('modalDialogBody');
                        });
                        //$('#modalDialog').modal('hide');
                    }
                    else {
                        hideLoadingModal('modalDialogBody');
                        callAlert(result.messageType, result.message);
                    }
                },
                error: function () {
                    hideLoadingModal('modalDialogBody');
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
            });
        });
    }

    function iadeTalebiSil(id, obj) {
        confirm('ONAY', '<p>Silmek istediğinize emin misiniz?</p>', function () {

            $.ajax({
                url: '/Kullanici/IadeTalepSil/' + id,
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal('modalDialogBody');
                },
                success: function (result) {
                    
                    if (result) {
                        callAlert('success', 'Silme işlemi başarılı.');

                        //showLoadingModal('modalDialogBody');
                        $('#modalDialogBody').load('/Kullanici/SiparisIadeTalepPartial', { siparisId: '@siparis.SiparisId', kullaniciId: '@(kullanici.KullaniciId.ToString())' }, function () {
                            hideLoadingModal('modalDialogBody');
                        });
                        //$('#modalDialog').modal('hide');
                    }
                    else {
                        hideLoadingModal('iadeTalepDiv');
                        callAlert('error', 'İşlem sırasında bir sorun oluştu. Lütfen tekrar deneyin.');
                    }
                },
                error: function () {
                    hideLoadingModal('iadeTalepDiv');
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
            });
        });
    }
</script>