@using CommerceProject.Business.Entities;

@{
    var paketUrunler = ViewBag.PaketUrunler as List<PaketUrun>;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#tablePaketUrun .make-switch').bootstrapSwitch();
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="tablePaketUrun" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:15%">Barkod</th>
                        <th style="width:15%;">Kodu</th>
                        <th style="width:25%;">Adı</th>
                        <th style="width:20%;">Paketteki Adedi</th>
                        <th style="width:25%">Paketteki Ürün Aktif mi?</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var paketUrun in paketUrunler)
                        {
                            <tr>
                                <td>@paketUrun.Urun.Barkod</td>
                                <td>@paketUrun.Urun.UrunKod</td>
                                <td>@paketUrun.Urun.Adi</td>
                                <td>@paketUrun.Adet</td>
                                <td>
                                    <input type="checkbox" class="make-switch" data-size="mini" data-on-text="Evet" data-off-text="Hayır" @(paketUrun.AktifMi ? "checked" : "") readonly>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>