@using CommerceProject.Business.Entities

@{
    var kullanici = ViewBag.Kullanici as Kullanici;
    var kullaniciAdresler = ViewBag.KullaniciAdresler as List<KullaniciAdres>;
}

<input id="hdnGonderimAdres" type="hidden" value="0" />
<input id="hdnFaturaAdres" type="hidden" value="0" />
<div>
    @if (kullanici == null)
    {
        <div class="col-sm-12 col-md-12">
            @*@Html.Partial("~/Views/Kullanici/Partials/AdresDetayPartial.cshtml")*@
            @Html.Action("AdresDetayPartial", "Kullanici", new { currentController = "SepetKullaniciYok" })
        </div>
    }
    else
    {
        <div class="col-sm-6 col-md-6">
            <div class="list-group">
                <h5>Teslimat Adresi</h5>               
                @foreach (var kullaniciAdres in kullaniciAdresler)
                {
                    <a href="javascript:;" class="list-group-item teslimAdres">
                        <input type="hidden" class="inpGonderimAdres" value="@kullaniciAdres.AdresId" />
                        <button type="button" class="btn btn-xs btn-info pull-right" onclick="javascript: adresKaydetGuncelle('@kullaniciAdres.AdresId');">Düzenle</button>
                        <h5 class="list-group-item-heading">@kullaniciAdres.Adres.AdresAdi</h5>
                        <p class="list-group-item-text">
                            <span><strong>Fatura Tipi : </strong>@kullaniciAdres.Adres.FaturaTip.Adi</span>
                            <br />
                            <span><strong>Ad Soyad : </strong>@Html.Raw(kullaniciAdres.Adres.Ad + " " + kullaniciAdres.Adres.Soyad)</span>
                            <br />
                            <span><strong>Firma Unvan : </strong>@kullaniciAdres.Adres.FirmaUnvan</span>
                            <br />
                            <span><strong>İl/İlçe : </strong>@kullaniciAdres.Adres.AdresIl.IlAdi/@kullaniciAdres.Adres.AdresIlce.IlceAdi</span>
                            <br />
                            <span><strong>Adres : </strong>@kullaniciAdres.Adres.AdresBilgi</span>
                            <br />
                            <span><strong>Telefon : </strong>@kullaniciAdres.Adres.Telefon1</span>
                        </p>
                    </a>
                }
            </div>
            <button type="button" class="btn btn-border btn-primary btn-block" onclick="javascript: adresKaydetGuncelle();"><i class="fa fa-plus"></i> Adres Ekle</button>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="list-group">
                <h5>Fatura Adresi</h5>
                @foreach (var kullaniciAdres in kullaniciAdresler)
                {
                    <a href="javascript:;" class="list-group-item faturaAdres">
                        <input type="hidden" class="inpFaturaAdres" value="@kullaniciAdres.AdresId" />
                        <button type="button" class="btn btn-xs btn-info pull-right" onclick="javascript: adresKaydetGuncelle('@kullaniciAdres.AdresId');">Düzenle</button>
                        <h5 class="list-group-item-heading">@kullaniciAdres.Adres.AdresAdi</h5>
                        <p class="list-group-item-text">
                            <span><strong>Fatura Tipi : </strong>@kullaniciAdres.Adres.FaturaTip.Adi</span>
                            <br />
                            <span><strong>Ad Soyad : </strong>@Html.Raw(kullaniciAdres.Adres.Ad + " " + kullaniciAdres.Adres.Soyad)</span>
                            <br />
                            <span><strong>Firma Unvan : </strong>@kullaniciAdres.Adres.FirmaUnvan</span>
                            <br />
                            <span><strong>İl/İlçe : </strong>@kullaniciAdres.Adres.AdresIl.IlAdi/@kullaniciAdres.Adres.AdresIlce.IlceAdi</span>
                            <br />
                            <span><strong>Adres : </strong>@kullaniciAdres.Adres.AdresBilgi</span>
                            <br />
                            <span><strong>Telefon : </strong>@kullaniciAdres.Adres.Telefon1</span>
                        </p>
                    </a>                  
                }
            </div>
        </div>
    }
</div>


<script type="text/javascript">
    $('.list-group-item').on('click', function (event) {
        event.preventDefault();

        if ($(this).hasClass('teslimAdres')) {

            var id = $(this).find('.inpGonderimAdres').val();
            $('#hdnGonderimAdres').val(id);

            $('.teslimAdres').removeClass('list-group-item-info');
            $(this).addClass('list-group-item-info');

        }
        else if ($(this).hasClass('faturaAdres')) {

            var id = $(this).find('.inpFaturaAdres').val();
            $('#hdnFaturaAdres').val(id);

            $('.faturaAdres').removeClass('list-group-item-info');
            $(this).addClass('list-group-item-info');

        }
    })

    function adresKaydetGuncelle(id) {
        $('#modalDialogBody').html('');
        $('#modalDialogBody').load('/Kullanici/AdresDetayPartial', { currentController: 'SepetKullaniciVar', id: id }, function () {
            hideLoadingModal('modalDialogBody');
        });
        $('#modalDialog').modal('show');
        showLoadingModal('modalDialogBody');
    }
</script>
