@using CommerceProject.Business.Entities

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_MainRoot.cshtml";
}

@{
    var nitelikGrup = ViewBag.NitelikGrup as NitelikGrup;
}

<div class="portlet light bordered blue-steel">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-puzzle font-white"></i>
            <span class="caption-subject bold font-white uppercase"> @ViewBag.PageProperties.PageHeader </span>
            <span class="caption-helper">@ViewBag.PageProperties.PageDescription</span>
        </div>
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                İşlemler
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="/NitelikGrup/Save">
                        <i class="fa fa-save"></i> Yeni Kayıt
                    </a>
                </li>
                <li>
                    <a href="/NitelikGrup/Index">
                        <i class="fa fa-search"></i> Arama
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="" class="fullscreen" data-original-title="Tam Ekran" title="Tam Ekran">
                        <i class="fa fa-arrows-alt"></i> Tam Ekran
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet-body">
        <div class="portlet light bordered">
            <div class="portlet-body form">

                <form id="comform">
                    <input id="hdnNitelikGrupId" type="hidden" value="@nitelikGrup.NitelikGrupId" />

                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtAdi" class="control-label">Nitelik Grup Adı<span class="required"> * </span></label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="txtAdi" name="txtAdi" class="form-control input-sm maxlength-handler" maxlength="50" placeholder="Nitelik Grup Adı Giriniz..." value="@nitelikGrup.Adi" tabindex="1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtAciklama" class="control-label">Açıklama</label>
                                    <input id="txtAciklama" name="txtAciklama" class="form-control input-sm maxlength-handler" maxlength="500" placeholder="Açıklama Giriniz..." value="@nitelikGrup.Aciklama" tabindex="2">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtSira" class="control-label">Sıra<span class="required"> * </span></label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="txtSira" name="txtSira" class="form-control input-sm focus-sense" value="@nitelikGrup.Sira" tabindex="3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtAktifMi" class="control-label">Aktif mi?</label>
                                    <div class="icheck-inline">
                                        <input id="txtAktifMi" name="txtAktifMi" type="checkbox" class="make-switch" data-size="small" data-on-text="Aktif" data-off-text="Pasif" 
                                               @(nitelikGrup.NitelikGrupId > 0 ? (nitelikGrup.AktifMi ? "checked" : "") : "checked") tabindex="4">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="col-md-offset-5 col-md-7">
                                @if (nitelikGrup.NitelikGrupId == 0)
                                {
                                    <button type="submit" class="btn blue" tabindex="5">
                                        Kaydet
                                        <i class="fa fa-save"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn yellow" tabindex="5">
                                        Güncelle
                                        <i class="fa fa-edit"></i>
                                    </button>
                                }
                                <a href="/NitelikGrup/Index" class="btn red" tabindex="6">
                                    İptal
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section js{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtSira").inputmask('9999', {
                numericInput: true,
                rightAlignNumerics: false,
                greedy: false,
                placeholder: '0000'
            });

            $('#comform').validate({
                errorElement: 'span',
                errorClass: 'help-block help-block-error',
                focusInvalid: false,
                ignore: "",
                invalidHandler: validationInvalidHandler,
                rules: {
                    txtAdi: {
                        maxlength: 50,
                        required: true
                    },
                    txtAciklama: {
                        maxlength: 500,
                        required: false
                    },
                    txtSira: {
                        number: true,
                        greaterThanZero: true,
                        required: true
                    }
                },
                errorPlacement: function (error, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                },
                highlight: function (element) {
                    $(element)
                        .closest('.form-group').removeClass("has-success").addClass('has-error');
                },
                unhighlight: function (element) {

                },
                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    icon.removeClass("fa-warning").addClass("fa-check");
                },
                submitHandler: function () {
                    kaydet();
                },
            });
        });

        function kaydet() {
            var data = {
                NitelikGrupId: $('#hdnNitelikGrupId').val(),
                Adi: $('#txtAdi').val(),
                Aciklama: $('#txtAciklama').val(),
                Sira: parseInt($('#txtSira').val()),
                AktifMi: $('#txtAktifMi').is(":checked") ? true : false
            };

            $.ajax({
                url: '/NitelikGrup/KaydetGuncelle',
                data: JSON.stringify(data),
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal();
                },
                success: function (result) {
                    hideLoadingModal();
                    if (result > 0) {
                        callAlert('success', 'Kayıt işlemi başarılı.');
                        setTimeout(function myfunction() {
                            window.location.href = '/NitelikGrup/Save/' + result;
                        }, 1500);
                    }
                    else {
                        callAlert('error', 'İşlem sırasında bir sorun oluştu. Lütfen tekrar deneyin.');
                    }
                },
                error: function () {
                    hideLoadingModal();
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
            });
        }
    </script>
}