@using CommerceProject.Business.Entities

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_MainRoot.cshtml";
}


@{
    var kisaLink = ViewBag.KisaLink as KisaLink;
}

<div class="portlet light bordered blue-steel">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-puzzle font-white"></i>
            <span class="caption-subject bold font-white uppercase"> @ViewBag.PageProperties.PageHeader </span>
            <span class="caption-helper">@ViewBag.PageProperties.PageDescription</span>
        </div>
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                İşlemler
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="/KisaLink/Save">
                        <i class="fa fa-save"></i> Yeni Kayıt
                    </a>
                </li>
                <li>
                    <a href="/KisaLink/Index">
                        <i class="fa fa-search"></i> Arama
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="" class="fullscreen" data-original-title="Tam Ekran" title="Tam Ekran">
                        <i class="fa fa-arrows-alt"></i> Tam Ekran
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet-body">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form id="comform">
                    <input id="hdnKisaLinkId" type="hidden" value="@kisaLink.KisaLinkId" />
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtKisaLinkUzunLink" class="control-label">Uzun Link<span class="required"> * </span></label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="txtKisaLinkUzunLink" name="txtKisaLinkUzunLink" class="form-control input-sm maxlength-handler" maxlength="500" placeholder="Uzun Link Giriniz..." value="@kisaLink.UzunLink" tabindex="1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtKisaLinkKisaltilmisLink" class="control-label">Kısaltılmış Link<span class="required"> * </span></label>
                                    <div class="input-group input-icon right">
                                        <input id="txtKisaLinkKisaltilmisLink" name="txtKisaLinkKisaltilmisLink" class="form-control input-sm maxlength-handler" maxlength="50" type="text" placeholder="Kısaltılmış Link Giriniz..." value="@kisaLink.KisaltilmisLink" tabindex="2">
                                        <span class="input-group-btn">
                                            <button class="btn red input-sm " type="button"  onclick="javascript: linkolustur();" tabindex="3">Link Oluştur</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtKisaLinkAktifMi" class="control-label">Aktif mi?</label>
                                    <div class="icheck-inline">
                                        <input id="txtKisaLinkAktifMi" name="txtKisaLinkAktifMi" type="checkbox" class="make-switch" data-size="small" data-on-text="Aktif" data-off-text="Pasif" @(kisaLink.KisaLinkId > 0 ? (kisaLink.AktifMi ? "checked" : "") : "checked") tabindex="4">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="col-md-offset-5 col-md-7">
                                @if (kisaLink.KisaLinkId == 0)
                                {
                                    <button type="submit" class="btn blue" tabindex="5">
                                        Kaydet
                                        <i class="fa fa-save"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn yellow" tabindex="5">
                                        Güncelle
                                        <i class="fa fa-edit"></i>
                                    </button>
                                }
                                <a href="/KisaLink/Index" class="btn red" tabindex="6">
                                    İptal
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section js
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#comform').validate({
                errorElement: 'span',
                errorClass: 'help-block help-block-error',
                focusInvalid: false,
                ignore: "",
                invalidHandler: validationInvalidHandler,
                rules: {
                    txtKisaLinkUzunLink: {
                        maxlength: 500,
                        required: true
                    },
                    txtKisaLinkKisaltilmisLink: {
                        maxlength: 50,
                        required: true
                    },
                },
                errorPlacement: function (error, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                },
                highlight: function (element) {
                    $(element)
                        .closest('.form-group').removeClass("has-success").addClass('has-error');
                },
                unhighlight: function (element) {

                },
                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    icon.removeClass("fa-warning").addClass("fa-check");
                },
                submitHandler: function () {
                    kaydet();
                },
            });
        });

        function kaydet() {
            var data = {
                KisaLinkId: $('#hdnKisaLinkId').val(),
                UzunLink: $('#txtKisaLinkUzunLink').val(),
                KisaltilmisLink: $('#txtKisaLinkKisaltilmisLink').val(),
                AktifMi: $('#txtKisaLinkAktifMi').is(":checked") ? true : false
            };

            $.ajax({
                url: '/KisaLink/KaydetGuncelle',
                data: JSON.stringify(data),
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal();
                },
                success: function (result) {
                    hideLoadingModal();
                    if (result > 0) {
                        callAlert('success', 'Kayıt işlemi başarılı.');
                        setTimeout(function myfunction() {
                            window.location.href = '/KisaLink/Save/' + result;
                        }, 1500);
                    }
                    else {
                        callAlert('error', 'İşlem sırasında bir sorun oluştu. Lütfen tekrar deneyin.');
                    }
                },
                error: function () {
                    hideLoadingModal();
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
            });
        }

        function linkolustur() {
            $.ajax({
                url: '/KisaLink/LinkOlustur',
                data: null,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal();
                },
                success: function (result) {
                    hideLoadingModal();

                    $('#txtKisaLinkKisaltilmisLink').val(result.kisaLink);
                },
                error: function () {
                    hideLoadingModal();
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
            });
        }
    </script>
}