@using CommerceProject.Business.Entities

@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_MainRoot.cshtml";
}

@{
    var bekleyenUrunYorumlari = ViewBag.BekleyenUrunYorumlari as List<UrunYorum>;
    var bekleyenSiparisler = ViewBag.BekleyenSiparisler as List<Siparis>;

    var son10KullaniciBilgisi = ViewBag.Son10KullaniciBilgisi as Dictionary<string, List<Kullanici>>;
    var son10SiparisBilgisi = ViewBag.Son10SiparisBilgisi as Dictionary<string, List<Siparis>>;
    var son10IadeTalepBilgisi = ViewBag.Son10IadeTalepBilgisi as Dictionary<string, List<IadeTalep>>;

    var ci = new System.Globalization.CultureInfo("tr-TR");

    var date = DateTime.Now.Date;
    var dayOfWeek = (((int)date.DayOfWeek == 0) ? 7 : (int)date.DayOfWeek) - 1;
    var firstDateOfWeek = date.AddDays((-1) * dayOfWeek).Date;
    var lastDateOfWeek = date.AddDays(6 - dayOfWeek).Date.AddHours(24).AddMilliseconds(-1);

    var today = date.ToString("dd.MM.yyyy");
    var week = firstDateOfWeek.ToString("dd.MM.yyyy") + " - " + lastDateOfWeek.ToString("dd.MM.yyyy");
    var month = date.ToString("MMMM", ci) + " " + date.Year;
}

@section css
{
    <link href="~/Content/Theme/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <style type="text/css">
        table thead th {
            font-size: 12px !important;
        }

        table tbody td {
            font-size: 12px !important;
        }

        .mt-actions .mt-action:hover {
            background: #f9f9f9;
        }
    </style>
}

@section PageToolbar
    {
    @*<div class="page-toolbar">
            <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
                <i class="icon-calendar"></i>&nbsp;
                <span class="thin uppercase hidden-xs"></span>&nbsp;
                <i class="fa fa-angle-down"></i>
            </div>
        </div>*@
}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="/Siparis/Index" target="_blank">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@(ViewBag.YeniSiparisSayisi)">0</span>
                </div>
                <div class="desc">Bekleyen Siparişler</div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/IadeTalep/Index" target="_blank">
            <div class="visual">
                <i class="fa fa-reply"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@(ViewBag.YeniIadeTalepSayisi)">0</span>
                </div>
                <div class="desc">Bekleyen İade Talepleri</div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="/Kullanici/Index" target="_blank">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@(ViewBag.OnayliKullaniciSayisi)">0</span>
                </div>
                <div class="desc">Onaylı Toplam Kullanıcı</div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span><span data-counter="counterup" data-value="@(ViewBag.StokDusukUrun)">0</span> / @(ViewBag.StokToplamUrun)</span>
                </div>
                <div class="desc">Düşük Stoklu Ürün Miktarı</div>
            </div>
        </a>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-line-chart font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Sipariş Sayısı</span>
                    <span id="siparisCaptionHelper" class="caption-helper">@today</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="Genişlet / Daralt" title="Genişlet / Daralt"> </a>
                    <a href="" class="fullscreen" data-original-title="Tam Ekran" title="Tam Ekran"> </a>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn red-sunglo btn-outline btn-circle btn-xs active">
                            <input type="radio" name="siparis" value="day" class="toggle" id="siparis1">Bugün
                        </label>
                        <label class="btn red-sunglo btn-outline btn-circle btn-xs">
                            <input type="radio" name="siparis" value="week" class="toggle" id="siparis2">Bu Hafta
                        </label>
                        <label class="btn red-sunglo btn-outline btn-circle btn-xs">
                            <input type="radio" name="siparis" value="month" class="toggle" id="siparis3"> Bu Ay
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height:340px;">
                <div id="siparisLoading" class="text-center" style="display:none;">
                    <img src="/Content/Theme/assets/global/img/loading.gif" alt="loading" />
                </div>
                <div id="siparisRaporContainer">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-line-chart font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">İade Talep Sayısı</span>
                    <span id="iadeTalepCaptionHelper" class="caption-helper">@today</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="Genişlet / Daralt" title="Genişlet / Daralt"> </a>
                    <a href="" class="fullscreen" data-original-title="Tam Ekran" title="Tam Ekran"> </a>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn red-sunglo btn-outline btn-circle btn-xs active">
                            <input type="radio" name="iadeTalep" value="day" class="toggle" id="iadeTalep1">Bugün
                        </label>
                        <label class="btn red-sunglo btn-outline btn-circle btn-xs">
                            <input type="radio" name="iadeTalep" value="week" class="toggle" id="iadeTalep2">Bu Hafta
                        </label>
                        <label class="btn red-sunglo btn-outline btn-circle btn-xs">
                            <input type="radio" name="iadeTalep" value="month" class="toggle" id="iadeTalep3"> Bu Ay
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height:340px;">
                <div id="iadeTalepLoading" class="text-center" style="display:none;">
                    <img src="/Content/Theme/assets/global/img/loading.gif" alt="loading" />
                </div>
                <div id="iadeTalepRaporContainer">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-line-chart font-blue"></i>
                    <span class="caption-subject font-blue bold uppercase">En Çok Satan Ürünler</span>
                    <span id="enCokSatanUrunCaptionHelper" class="caption-helper">@today</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="Genişlet / Daralt" title="Genişlet / Daralt"> </a>
                    <a href="" class="fullscreen" data-original-title="Tam Ekran" title="Tam Ekran"> </a>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn blue btn-outline btn-circle btn-xs active">
                            <input type="radio" name="enCokSatanUrun" value="day" class="toggle" id="enCokSatanUrun1">Bugün
                        </label>
                        <label class="btn blue btn-outline btn-circle btn-xs">
                            <input type="radio" name="enCokSatanUrun" value="week" class="toggle" id="enCokSatanUrun2">Bu Hafta
                        </label>
                        <label class="btn blue btn-outline btn-circle btn-xs">
                            <input type="radio" name="enCokSatanUrun" value="month" class="toggle" id="enCokSatanUrun3"> Bu Ay
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height:340px;">
                <div id="enCokSatanUrunLoading" class="text-center" style="display:none;">
                    <img src="/Content/Theme/assets/global/img/loading.gif" alt="loading" />
                </div>
                <div id="enCokSatanUrunRaporContainer" class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible="0">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-line-chart font-blue"></i>
                    <span class="caption-subject font-blue bold uppercase">En Çok Kazandıran Ürünler</span>
                    <span id="enCokKazandiranUrunCaptionHelper" class="caption-helper">@today</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="Genişlet / Daralt" title="Genişlet / Daralt"> </a>
                    <a href="" class="fullscreen" data-original-title="Tam Ekran" title="Tam Ekran"> </a>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn blue btn-outline btn-circle btn-xs active">
                            <input type="radio" name="enCokKazandiranUrun" value="day" class="toggle" id="enCokKazandiranUrun1">Bugün
                        </label>
                        <label class="btn blue btn-outline btn-circle btn-xs">
                            <input type="radio" name="enCokKazandiranUrun" value="week" class="toggle" id="enCokKazandiranUrun2">Bu Hafta
                        </label>
                        <label class="btn blue btn-outline btn-circle btn-xs">
                            <input type="radio" name="enCokKazandiranUrun" value="month" class="toggle" id="enCokKazandiranUrun3"> Bu Ay
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height:340px;">
                <div id="enCokKazandiranUrunLoading" class="text-center" style="display:none;">
                    <img src="/Content/Theme/assets/global/img/loading.gif" alt="loading" />
                </div>
                <div id="enCokKazandiranUrunRaporContainer" class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible="0">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubbles font-yellow-gold"></i>
                    <span class="caption-subject font-yellow-gold bold uppercase">Bekleyen Ürün Yorumları</span>
                    <span id="urunYorumCaptionHelper" class="badge badge-danger" style="margin-top: -3px;">@(bekleyenUrunYorumlari.Count)</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 400px;" data-always-visible="1" data-rail-visible="0">
                    <div class="mt-comments">
                        @{
                            if (bekleyenUrunYorumlari != null && bekleyenUrunYorumlari.Count > 0)
                            {
                                foreach (var yorum in bekleyenUrunYorumlari.OrderByDescending(x => x.Tarih))
                                {
                                    <div class="mt-comment">
                                        <div class="mt-comment-img">
                                            @if (yorum.Kullanici.KullaniciDetay.KullaniciResim == null)
                                            {
                                                <img src="/Content/Img/no-image.png" style="width:40px;" />
                                            }
                                            else
                                            {
                                                var imageBase64Data = Convert.ToBase64String(yorum.Kullanici.KullaniciDetay.KullaniciResim);
                                                string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);

                                                <img src="@imageDataURL" style="width:40px;" />
                                            }
                                        </div>
                                        <div class="mt-comment-body">
                                            <div class="mt-comment-info">
                                                <span class="mt-comment-author">@(yorum.Kullanici.KullaniciDetay.Ad) @(yorum.Kullanici.KullaniciDetay.Soyad) (@(yorum.Kullanici.Eposta))</span>
                                                <span class="mt-comment-date">@(yorum.Tarih.ToString("dd.MM.yyyy HH:mm"))</span>
                                            </div>
                                            <div class="mt-comment-text">@yorum.Yorum</div>
                                            <div class="mt-comment-details">
                                                <span class="mt-comment-status font-yellow-gold">@(yorum.Urun.Adi) &nbsp;&nbsp;<span class="text-info" style="text-transform:capitalize !important;">(Puan: @(yorum.Puan))</span></span>
                                                <ul class="mt-comment-actions" style="margin-bottom: -5px !important;">
                                                    <li>
                                                        <button type="button" class="btn btn-xs blue-stripe"
                                                                onclick="javascript: urunYorumGuncelle(this, '@(yorum.UrunYorumId)', true, true);" style="text-transform:none !important;margin-right: 10px;">
                                                            Yorum Sayfada Gösterilsin
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button type="button" class="btn btn-xs red-stripe"
                                                                onclick="javascript: urunYorumGuncelle(this, '@(yorum.UrunYorumId)', false, false);" style="text-transform:none !important;">
                                                            Yorumu Sil
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Bekleyen ürün yorumu bulunmamaktadır. </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-basket-loaded font-yellow-gold"></i>
                    <span class="caption-subject font-yellow-gold bold uppercase">Bekleyen Siparişler</span>
                    <span id="bekleyenSiparisCaptionHelper" class="badge badge-danger" style="margin-top: -3px;">@(bekleyenSiparisler.Count)</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 400px;" data-always-visible="1" data-rail-visible="0">
                    <div class="mt-actions">
                        @{
                            if (bekleyenSiparisler != null && bekleyenSiparisler.Count > 0)
                            {
                                foreach (var siparis in bekleyenSiparisler)
                                {
                                    <div class="mt-action">
                                        <div class="mt-action-img">
                                            @if (siparis.Kullanici.KullaniciDetay.KullaniciResim == null)
                                            {
                                                <img src="/Content/Img/no-image.png" style="width:40px;" />
                                            }
                                            else
                                            {
                                                var imageBase64Data = Convert.ToBase64String(siparis.Kullanici.KullaniciDetay.KullaniciResim);
                                                string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);

                                                <img src="@imageDataURL" style="width:40px;" />
                                            }
                                        </div>
                                        <div class="mt-action-body">
                                            <div class="mt-action-row">
                                                <div class="mt-action-info">
                                                    <div class="mt-action-details ">
                                                        <span class="mt-action-author">@(siparis.Kullanici.KullaniciDetay.Ad) @(siparis.Kullanici.KullaniciDetay.Soyad) (@(siparis.Kullanici.Eposta))</span>
                                                        <p class="mt-action-desc margin-top-10">@(siparis.SiparisDetay.Where(x => x.AktifMi).Distinct().Count()) farklı ürün çeşidi için toplam @(siparis.SiparisDetay.Where(x => x.AktifMi).Distinct().Sum(x => x.Adet)) adet ürün</p>
                                                    </div>
                                                </div>
                                                <div class="mt-action-datetime ">
                                                    <span class="mt-action-date">@(siparis.SiparisTarihi.ToString("dd.MM.yyyy"))</span>
                                                    <span class="mt-action-dot bg-blue-ebonyclay"></span>
                                                    <span class="mt=action-time">@(siparis.SiparisTarihi.ToString("HH:mm"))</span>
                                                </div>
                                                <div class="mt-action-buttons ">
                                                    <div class="btn-group btn-group-circle">
                                                        <a href="/Siparis/Save/@(siparis.SiparisId)" target="_blank" class="btn btn-outline purple btn-sm"><i class="fa fa-share"></i> Git</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Bekleyen sipariş bulunmamaktadır. </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-lg-4 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title tasks-widget tabbable-line">
                <div class="caption">
                    <i class="icon-basket font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Son 10 Sipariş</span>
                    <span class="caption-helper"></span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#portlet_siparis_1" data-toggle="tab"> Beklemede Olan </a>
                    </li>
                    <li>
                        <a href="#portlet_siparis_2" data-toggle="tab"> Onay Bekleyen </a>
                    </li>
                    <li>
                        <a href="#portlet_siparis_3" data-toggle="tab"> Onaylanan </a>
                    </li>
                    <li>
                        <a href="#portlet_siparis_4" data-toggle="tab"> Gönderilen </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="portlet_siparis_1">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            @if (son10SiparisBilgisi["beklemede"].Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr>
                                                <th width="10%">No</th>
                                                <th width="30%">Toplam Ürün Çeşidi</th>
                                                <th width="30%">Toplam Ürün Adedi</th>
                                                <th width="20%">Sipariş Tarihi</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var sip in son10SiparisBilgisi["beklemede"])
                                                {
                                                    <tr>
                                                        <td>#@sip.SiparisId</td>
                                                        <td>
                                                            <div class="text-center">
                                                                @sip.SiparisDetay.Where(x => x.AktifMi).Distinct().Count()
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-center">
                                                                @sip.SiparisDetay.Where(x => x.AktifMi).Distinct().Sum(x => x.Adet)
                                                            </div>
                                                        </td>
                                                        <td>@sip.SiparisTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/Siparis/Save/@sip.SiparisId" target="_blank" class="btn btn-xs purple-plum" data-toggle="tooltip" data-placement="top" title="Sipariş Sayfasına Git">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Beklemede olan sipariş bulunmamaktadır. </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="portlet_siparis_2">
                        <div class="scroller" style="height:300px;" data-always-visible="1" data-rail-visible="0">
                            @if (son10SiparisBilgisi["onayBekleyen"].Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr>
                                                <th width="10%">No</th>
                                                <th width="30%">Toplam Ürün Çeşidi</th>
                                                <th width="30%">Toplam Ürün Adedi</th>
                                                <th width="20%">Sipariş Tarihi</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var sip in son10SiparisBilgisi["onayBekleyen"])
                                                {
                                                    <tr>
                                                        <td>#@sip.SiparisId</td>
                                                        <td>
                                                            <div class="text-center">
                                                                @sip.SiparisDetay.Where(x => x.AktifMi).Distinct().Count()
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-center">
                                                                @sip.SiparisDetay.Where(x => x.AktifMi).Distinct().Sum(x => x.Adet)
                                                            </div>
                                                        </td>
                                                        <td>@sip.SiparisTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/Siparis/Save/@sip.SiparisId" target="_blank" class="btn btn-xs purple-plum" data-toggle="tooltip" data-placement="top" title="Sipariş Sayfasına Git">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Onay bekleyen sipariş bulunmamaktadır. </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="portlet_siparis_3">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            @if (son10SiparisBilgisi["onaylanan"].Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr>
                                                <th width="10%">No</th>
                                                <th width="30%">Toplam Ürün Çeşidi</th>
                                                <th width="30%">Toplam Ürün Adedi</th>
                                                <th width="20%">Sipariş Tarihi</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var sip in son10SiparisBilgisi["onaylanan"])
                                                {
                                                    <tr>
                                                        <td>#@sip.SiparisId</td>
                                                        <td>
                                                            <div class="text-center">
                                                                @sip.SiparisDetay.Where(x => x.AktifMi).Distinct().Count()
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-center">
                                                                @sip.SiparisDetay.Where(x => x.AktifMi).Distinct().Sum(x => x.Adet)
                                                            </div>
                                                        </td>
                                                        <td>@sip.SiparisTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/Siparis/Save/@sip.SiparisId" target="_blank" class="btn btn-xs purple-plum" data-toggle="tooltip" data-placement="top" title="Sipariş Sayfasına Git">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Onaylanan sipariş bulunmamaktadır. </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="portlet_siparis_4">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            @if (son10SiparisBilgisi["gonderilen"].Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr>
                                                <th width="10%">No</th>
                                                <th width="30%">Toplam Ürün Çeşidi</th>
                                                <th width="30%">Toplam Ürün Adedi</th>
                                                <th width="20%">Sipariş Tarihi</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var sip in son10SiparisBilgisi["gonderilen"])
                                                {
                                                    <tr>
                                                        <td>#@sip.SiparisId</td>
                                                        <td>
                                                            <div class="text-center">
                                                                @sip.SiparisDetay.Where(x => x.AktifMi).Distinct().Count()
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-center">
                                                                @sip.SiparisDetay.Where(x => x.AktifMi).Distinct().Sum(x => x.Adet)
                                                            </div>
                                                        </td>
                                                        <td>@sip.SiparisTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/Siparis/Save/@sip.SiparisId" target="_blank" class="btn btn-xs purple-plum" data-toggle="tooltip" data-placement="top" title="Sipariş Sayfasına Git">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Gönderilen sipariş bulunmamaktadır. </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="task-footer padding-tb-10">
                    <div class="btn-arrow-link pull-right">
                        <a href="/Siparis/Index" target="_blank">Sipariş Arama Sayfasına Git</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title tasks-widget tabbable-line">
                <div class="caption">
                    <i class="icon-action-undo font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Son 10 İade Talebi</span>
                    <span class="caption-helper"></span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#portlet_iade_1" data-toggle="tab"> Beklemede Olan </a>
                    </li>
                    <li>
                        <a href="#portlet_iade_2" data-toggle="tab"> İncelenen </a>
                    </li>
                    <li>
                        <a href="#portlet_iade_3" data-toggle="tab"> Sonuçlanan </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="portlet_iade_1">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            @if (son10IadeTalepBilgisi["beklemede"].Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr>
                                                <th width="20%">Ürün</th>
                                                <th width="10%">Adet</th>
                                                <th width="40%">İade Nedeni</th>
                                                <th width="20%">Tarih</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var iat in son10IadeTalepBilgisi["beklemede"])
                                                {
                                                    <tr>
                                                        <td>@iat.SiparisDetay.Urun.Adi</td>
                                                        <td>@iat.Adet</td>
                                                        <td>@iat.IadeNeden</td>
                                                        <td>@iat.OlusturmaTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/IadeTalep/Save/@iat.IadeTalepId" target="_blank" class="btn btn-xs purple-plum" data-toggle="tooltip" data-placement="top" title="İade Talep Sayfasına Git">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Beklemede olan iade talebi bulunmamaktadır. </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="portlet_iade_2">
                        <div class="scroller" style="height:300px;" data-always-visible="1" data-rail-visible="0">
                            @if (son10IadeTalepBilgisi["incelenen"].Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr>
                                                <th width="20%">Ürün</th>
                                                <th width="10%">Adet</th>
                                                <th width="40%">İade Nedeni</th>
                                                <th width="20%">Tarih</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var iat in son10IadeTalepBilgisi["incelenen"])
                                                {
                                                    <tr>
                                                        <td>@iat.SiparisDetay.Urun.Adi</td>
                                                        <td>@iat.Adet</td>
                                                        <td>@iat.IadeNeden</td>
                                                        <td>@iat.OlusturmaTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/IadeTalep/Save/@iat.IadeTalepId" target="_blank" class="btn btn-xs purple-plum" data-toggle="tooltip" data-placement="top" title="İade Talep Sayfasına Git">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> İncelenen iade talebi bulunmamaktadır. </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="portlet_iade_3">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            @if (son10IadeTalepBilgisi["sonuclanan"].Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr>
                                                <th width="20%">Ürün</th>
                                                <th width="10%">Adet</th>
                                                <th width="40%">İade Nedeni</th>
                                                <th width="20%">Tarih</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var iat in son10IadeTalepBilgisi["sonuclanan"])
                                                {
                                                    <tr>
                                                        <td>@iat.SiparisDetay.Urun.Adi</td>
                                                        <td>@iat.Adet</td>
                                                        <td>@iat.IadeNeden</td>
                                                        <td>@iat.OlusturmaTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/IadeTalep/Save/@iat.IadeTalepId" target="_blank" class="btn btn-xs purple-plum" data-toggle="tooltip" data-placement="top" title="İade Talep Sayfasına Git">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Sonuçlanan iade talebi bulunmamaktadır. </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="task-footer padding-tb-10">
                    <div class="btn-arrow-link pull-right">
                        <a href="/IadeTalep/Index" target="_blank">İade Talep Arama Sayfasına Git</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title tasks-widget tabbable-line">
                <div class="caption">
                    <i class=" icon-user font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Son 10 Üye</span>
                    <span class="caption-helper"></span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#portlet_uye_1" data-toggle="tab"> Eposta Onayı Bekleyen </a>
                    </li>
                    <li>
                        <a href="#portlet_uye_2" data-toggle="tab"> Eposta Onaylanan </a>
                    </li>
                    <li>
                        <a href="#portlet_uye_3" data-toggle="tab"> Hesabı Kilitli Olan </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="portlet_uye_1">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            @if (son10KullaniciBilgisi["bekleyen"].Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr>
                                                <th width="30%">Eposta</th>
                                                <th width="40%">Ad Soyad</th>
                                                <th width="20%">Üyelik Tarihi</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var kul in son10KullaniciBilgisi["bekleyen"])
                                                {
                                                    <tr>
                                                        <td>@kul.Eposta</td>
                                                        <td>@kul.KullaniciDetay.Ad @kul.KullaniciDetay.Soyad</td>
                                                        <td>@kul.UyelikTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/Kullanici/Save/@kul.KullaniciId" target="_blank" class="btn btn-xs purple-plum" data-toggle="tooltip" data-placement="top" title="Kullanıcı Sayfasına Git">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Onay bekleyen kullanıcı bulunmamaktadır. </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="portlet_uye_2">
                        <div class="scroller" style="height:300px;" data-always-visible="1" data-rail-visible="0">
                            @if (son10KullaniciBilgisi["onayli"].Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr>
                                                <th width="30%">Eposta</th>
                                                <th width="40%">Ad Soyad</th>
                                                <th width="20%">Üyelik Tarihi</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var kul in son10KullaniciBilgisi["onayli"])
                                                {
                                                    <tr>
                                                        <td>@kul.Eposta</td>
                                                        <td>@kul.KullaniciDetay.Ad @kul.KullaniciDetay.Soyad</td>
                                                        <td>@kul.UyelikTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/Kullanici/Save/@kul.KullaniciId" target="_blank" class="btn btn-xs purple-plum" data-toggle="tooltip" data-placement="top" title="Kullanıcı Sayfasına Git">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Onaylı kullanıcı bulunmamaktadır. </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="portlet_uye_3">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            @if (son10KullaniciBilgisi["kilitli"].Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr>
                                                <th width="30%">Eposta</th>
                                                <th width="40%">Ad Soyad</th>
                                                <th width="20%">Üyelik Tarihi</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var kul in son10KullaniciBilgisi["kilitli"])
                                                {
                                                    <tr>
                                                        <td>@kul.Eposta</td>
                                                        <td>@kul.KullaniciDetay.Ad @kul.KullaniciDetay.Soyad</td>
                                                        <td>@kul.UyelikTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/Kullanici/Save/@kul.KullaniciId" target="_blank" class="btn btn-xs purple-plum" data-toggle="tooltip" data-placement="top" title="Kullanıcı Sayfasına Git">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> Hesabı kilitli kullanıcı bulunmamaktadır. </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="task-footer padding-tb-10">
                    <div class="btn-arrow-link pull-right">
                        <a href="/Kullanici/Index" target="_blank">Kullanıcı Arama Sayfasına Git</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

@section js{
    <script src="~/Content/Theme/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('input[type="radio"][name="siparis"]').on('change', function (event) {
                var value = $('input[type="radio"][name="siparis"]:checked').val();

                loadPartial('/Home/SiparisAdetRaporPartial?dateType=' + value, 'siparisLoading', 'siparisRaporContainer');
                if (value == 'day') {
                    $('#siparisCaptionHelper').text('@(today)');
                }
                else if (value == 'week') {
                    $('#siparisCaptionHelper').text('@(week)');
                }
                else if (value == 'month') {
                    $('#siparisCaptionHelper').text('@(month)');
                }
            });

            $('input[type="radio"][name="iadeTalep"]').on('change', function (event) {
                var value = $('input[type="radio"][name="iadeTalep"]:checked').val();

                loadPartial('/Home/IadeTalepAdetRaporPartial?dateType=' + value, 'iadeTalepLoading', 'iadeTalepRaporContainer');
                if (value == 'day') {
                    $('#iadeTalepCaptionHelper').text('@(today)');
                }
                else if (value == 'week') {
                    $('#iadeTalepCaptionHelper').text('@(week)');
                }
                else if (value == 'month') {
                    $('#iadeTalepCaptionHelper').text('@(month)');
                }
            });

            $('input[type="radio"][name="enCokSatanUrun"]').on('change', function (event) {
                var value = $('input[type="radio"][name="enCokSatanUrun"]:checked').val();

                loadPartial('/Home/EnCokSatanUrunRaporPartial?dateType=' + value, 'enCokSatanUrunLoading', 'enCokSatanUrunRaporContainer');
                if (value == 'day') {
                    $('#enCokSatanUrunCaptionHelper').text('@(today)');
                }
                else if (value == 'week') {
                    $('#enCokSatanUrunCaptionHelper').text('@(week)');
                }
                else if (value == 'month') {
                    $('#enCokSatanUrunCaptionHelper').text('@(month)');
                }
            });

            $('input[type="radio"][name="enCokKazandiranUrun"]').on('change', function (event) {
                var value = $('input[type="radio"][name="enCokKazandiranUrun"]:checked').val();

                loadPartial('/Home/EnCokKazandiranUrunRaporPartial?dateType=' + value, 'enCokKazandiranUrunLoading', 'enCokKazandiranUrunRaporContainer');
                if (value == 'day') {
                    $('#enCokKazandiranUrunCaptionHelper').text('@(today)');
                }
                else if (value == 'week') {
                    $('#enCokKazandiranUrunCaptionHelper').text('@(week)');
                }
                else if (value == 'month') {
                    $('#enCokKazandiranUrunCaptionHelper').text('@(month)');
                }
            });

            loadPartial('/Home/SiparisAdetRaporPartial?dateType=day', 'siparisLoading', 'siparisRaporContainer');
            loadPartial('/Home/IadeTalepAdetRaporPartial?dateType=day', 'iadeTalepLoading', 'iadeTalepRaporContainer');
            loadPartial('/Home/EnCokSatanUrunRaporPartial?dateType=day', 'enCokSatanUrunLoading', 'enCokSatanUrunRaporContainer');
            loadPartial('/Home/EnCokKazandiranUrunRaporPartial?dateType=day', 'enCokKazandiranUrunLoading', 'enCokKazandiranUrunRaporContainer');
        });

        function loadPartial(url, loadingDiv, toLoadDivId) {
            $('#' + loadingDiv).show();
            $('#' + toLoadDivId).html('');

            $('#' + toLoadDivId).load(url, function () {
                $('#' + loadingDiv).hide();
            });
        }

        function urunYorumGuncelle(obj, id, gosterilsinMi, aktifMi) {
            var data = {
                urunYorumId: id,
                gosterilsinMi: gosterilsinMi,
                aktifMi: aktifMi
            };

            var message = (gosterilsinMi && aktifMi) ? 'Ürün yorumu sayfada gösterilmeye başlanacaktır. İşleme devam etmek istiyor musunuz?' : (!gosterilsinMi && !aktifMi) ? 'Ürün yorumu silinecektir. İşleme devam etmek istiyor musunuz?' : '';

            confirm('ONAY', '<p>' + message + '</p>', function () {
                $.ajax({
                    url: '/Urun/UrunYorumGuncelle',
                    data: JSON.stringify(data),
                    type: "post",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        showLoadingModal();
                    },
                    success: function (result) {
                        hideLoadingModal();

                        if (!result) {
                            callAlert('error', 'İşlem sırasında bir sorun oluştu. Lütfen tekrar deneyin.');
                        } else {
                            callAlert('success', 'Yorum başarıyla güncellendi.');

                            var commentContainer = $(obj).closest('.mt-comment').parent();

                            $(obj).closest('.mt-comment').hide('clip', 1000);
                            setTimeout(function () {
                                var count = parseInt($('#urunYorumCaptionHelper').text());
                                $('#urunYorumCaptionHelper').text((count - 1));

                                $(obj).closest('.mt-comment').remove();

                                if (commentContainer.children().length == 0) {
                                    commentContainer.append('<div class="alert alert-info"><i class="fa fa-info-circle"></i> Bekleyen ürün yorumu bulunmamaktadır. </div>');
                                }
                            }, 1200);
                        }
                    },
                    error: function () {
                        hideLoadingModal();
                        callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                    }
                });
            });
        }
    </script>
}