@using CommerceProject.Business.Entities

@{
    var urun = ViewBag.Urun as Urun;
}

<div class="profile-sidebar" style="width:400px !important;">
    <!-- PORTLET MAIN -->
    <div class="portlet light profile-sidebar-portlet ">

        <div class="profile-userpic">
            <div class="price-table-pricing" style="text-align: center;">
                <h3 style="font-size: 60px;position: relative;font-weight: 300;">
                    @urun.Fiyat.ToString("#.##")<sup class="price-sign" style="top:0 !important;"><i class="fa fa-try"></i></sup>
                </h3>
            </div>
        </div>

        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name"> @urun.Adi </div>
            <div class="profile-usertitle-job"> @(urun.Marka != null ? urun.Marka.Adi : "") </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- STAT -->
        <div class="row list-separated profile-stat margin-top-20">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="profile-stat-text font-red-mint"> Stok Miktarı </div>
                <div class="profile-stat-title"> @(ViewBag.StokMiktari) </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="profile-stat-text font-green-haze"> Sipariş Adedi </div>
                <div class="profile-stat-title"> @(ViewBag.SiparisSayisi) </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="profile-stat-text font-yellow-gold"> İade </div>
                <div class="profile-stat-title"> @(ViewBag.IadeSayisi) </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="profile-stat-text font-purple-studio"> İstek </div>
                <div class="profile-stat-title"> @(ViewBag.IstekSayisi) </div>
            </div>
        </div>
        <!-- END STAT -->
        <div style="padding:0px 20px 10px 20px;">
            <h4 class="profile-desc-title">Kodu</h4>
            <span class="profile-desc-text"> @(!string.IsNullOrEmpty(urun.UrunKod) ? urun.UrunKod : "-") </span>

            <h4 class="profile-desc-title">Barkod</h4>
            <span class="profile-desc-text"> @(!string.IsNullOrEmpty(urun.Barkod) ? urun.Barkod : "-") </span>

            <h4 class="profile-desc-title">Hakkında</h4>
            <span class="profile-desc-text"> @(!string.IsNullOrEmpty(urun.KisaAciklama) ? urun.KisaAciklama : "-") </span>

            <h4 class="profile-desc-title">Tarih</h4>
            <span class="profile-desc-text"> @(urun.OlusturmaTarihi.ToString("dd.MM.yyyy HH:mm")) </span>

            <h4 class="profile-desc-title">Nitelikler</h4>
            <span class="profile-desc-text">
                @{
                    foreach (var nt in urun.UrunNitelik)
                    {
                        <span class="text-center clearfix">
                            <span class="font-blue">@(nt.Nitelik.Adi): </span>@nt.NitelikDegeri
                        </span>
                    }
                }
            </span>
        </div>
    </div>
    <!-- END PORTLET MAIN -->
</div>

<div class="profile-content">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-picture"></i>
                        <span class="caption-subject bold uppercase">Resimler</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="urunResimLoading" class="text-center" style="display:none;">
                        <img src="/Content/Theme/assets/global/img/loading.gif" alt="loading" />
                    </div>
                    <div id="urunResimContainer">
                    </div>

                </div>
            </div>
            <!-- END PORTLET -->
        </div>
    </div>

</div>

<script type="text/javascript">
        $(document).ready(function () {
            loadPartial('/Urun/UrunResimPartial/@urun.UrunId', 'urunResimLoading', 'urunResimContainer');
        });

        function loadPartial(url, loadingDiv, toLoadDivId) {
            $('#' + loadingDiv).show();
            $('#' + toLoadDivId).html('');

            $('#' + toLoadDivId).load(url, function () {
                $('#' + loadingDiv).hide();
            });
        }
</script>