@using CommerceProject.Business.Entities

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_MainRoot.cshtml";
}

@{
    var gonderim = ViewBag.Gonderim as Gonderim;
}

<div class="portlet light bordered blue-steel">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-puzzle font-white"></i>
            <span class="caption-subject bold font-white uppercase"> @ViewBag.PageProperties.PageHeader </span>
            <span class="caption-helper">@ViewBag.PageProperties.PageDescription</span>
        </div>
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                İşlemler
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="/Gonderim/Save">
                        <i class="fa fa-save"></i> Yeni Kayıt
                    </a>
                </li>
                <li>
                    <a href="/Gonderim/Index">
                        <i class="fa fa-search"></i> Arama
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="" class="fullscreen" data-original-title="Tam Ekran" title="Tam Ekran">
                        <i class="fa fa-arrows-alt"></i> Tam Ekran
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet-body">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form id="comform">
                    <input id="hdnGonderimId" type="hidden" value="@gonderim.GonderimId" />
                    <input id="hdnResimYolu" type="hidden" value="@gonderim.Resim" />

                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtGonderimAdi" class="control-label">Adı<span class="required"> * </span></label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="txtGonderimAdi" name="txtGonderimAdi" class="form-control input-sm maxlength-handler" maxlength="50" placeholder="Gönderim Adı Giriniz..." value="@gonderim.Adi" tabindex="1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtGonderimAciklama" class="control-label">Açıklama</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <textarea id="txtGonderimAciklama" name="txtGonderimAciklama" rows="1" class="form-control input-sm maxlength-handler" maxlength="500" placeholder="Açıklama Giriniz..." tabindex="2">@gonderim.Aciklama</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtGonderimSorgulamaLink" class="control-label">Sorgulama Link</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <textarea id="txtGonderimSorgulamaLink" name="txtGonderimSorgulamaLink" rows="1" class="form-control input-sm maxlength-handler" maxlength="500" placeholder="Sorgulama Link Giriniz..." tabindex="2">@gonderim.GonderimSorgulamaLink</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtGonderimAltLimit" class="control-label">Alt Limit<span class="required"> * </span></label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="txtGonderimAltLimit" name="txtGonderimAltLimit" class="form-control input-sm decimal-4 focus-sense" placeholder="Alt Limit Giriniz..."
                                               value="@(gonderim.GonderimId > 0 ? gonderim.AltLimit.ToString("N4").Replace(".", "").Replace(",", ".") : "")" tabindex="5">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtGonderimFiyat" class="control-label">Fiyat<span class="required"> * </span></label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="txtGonderimFiyat" name="txtGonderimFiyat" class="form-control input-sm decimal-4 focus-sense" placeholder="Fiyat Giriniz..."
                                               value="@(gonderim.GonderimId > 0 ? gonderim.Fiyat.ToString("N4").Replace(".", "").Replace(",", ".") : "")" tabindex="6">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtGonderimSira" class="control-label">Sıra<span class="required"> * </span></label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="txtGonderimSira" name="txtGonderimSira" class="form-control input-sm focus-sense" placeholder="Sıra Giriniz..." value="@gonderim.Sira" tabindex="3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtGonderimAktifMi" class="control-label">Aktif mi?</label>
                                    <div class="icheck-inline">
                                        <input id="txtGonderimAktifMi" name="txtGonderimAktifMi" type="checkbox" class="make-switch" data-size="small" data-on-text="Aktif" data-off-text="Pasif" @(gonderim.GonderimId > 0 ? (gonderim.AktifMi ? "checked" : "") : "checked") tabindex="4">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            @if (string.IsNullOrEmpty(gonderim.Resim))
                                            {
                                                <img id="emptyFile" src="/Content/Img/no-image.png" alt="" />
                                            }
                                            else
                                            {
                                                <img id="emptyFile" src="@gonderim.Resim" alt="" />
                                            }
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                        <div>
                                            <span class="btn default btn-file">
                                                <span class="fileinput-new" style="width:98px;"> Resim Seç </span>
                                                <span class="fileinput-exists" style="width:98px;"> Değiştir </span>
                                                <input id="fileUploadResim" name="fileUploadResim" type="file" onchange="resimSecildi();">
                                            </span>
                                            <a href="javascript:;" style="width:98px;" class="btn red fileinput-exists" data-dismiss="fileinput"> Sil </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="col-md-offset-5 col-md-7">
                                @if (gonderim.GonderimId == 0)
                                {
                                    <button type="submit" class="btn blue" tabindex="7">
                                        Kaydet
                                        <i class="fa fa-save"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn yellow" tabindex="7">
                                        Güncelle
                                        <i class="fa fa-edit"></i>
                                    </button>
                                }
                                <a href="/Gonderim/Index" class="btn red" tabindex="8">
                                    İptal
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section js
{
    <script src="~/Content/Theme/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtGonderimSira").inputmask('99', {
                numericInput: true,
                rightAlignNumerics: false,
                greedy: false,
                placeholder: '00'
            });

            $(".decimal-4").inputmask('decimal', {
                rightAlign: false,
                integerDigits: 18,
                radixPoint: ".",
                digits: 4
            });

            $('#comform').validate({
                errorElement: 'span',
                errorClass: 'help-block help-block-error',
                focusInvalid: false,
                ignore: "",
                invalidHandler: validationInvalidHandler,
                rules: {
                    txtGonderimAdi: {
                        maxlength: 50,
                        required: true
                    },
                    txtGonderimAciklama: {
                        maxlength: 500,
                        required: true
                    },
                    txtGonderimSira: {
                        number: true,
                        greaterThanZero: true,
                        required: true
                    },
                    txtGonderimAltLimit: {
                        number: true,
                        greaterThanZero: true,
                        required: true
                    },
                    txtGonderimFiyat: {
                        number: true,
                        greaterThanZero: true,
                        required: true
                    }
                },
                errorPlacement: function (error, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                },
                highlight: function (element) {
                    $(element)
                        .closest('.form-group').removeClass("has-success").addClass('has-error');
                },
                unhighlight: function (element) {

                },
                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    icon.removeClass("fa-warning").addClass("fa-check");
                },
                submitHandler: function () {
                    kaydet();
                },
            });
        });

        function resimSecildi() {
            $('#emptyFile').attr('src', '/Content/Img/no-image.png');
            $('#hdnResimYolu').val('');

            var ext = $('#fileUploadResim').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'bmp']) == -1) {
                callAlert('warning', 'Uygun resim formatları \'gif\', \'png\', \'jpg\', \'jpeg\', \'bmp\' olmalıdır.');
                $('#fileUploadResim').val('');
                return false;
            }
        }

        function kaydet() {
            if (document.getElementById("fileUploadResim").files.length > 1) {
                var ext = $('#fileUploadResim').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'bmp']) == -1) {
                    callAlert('warning', 'Uygun resim formatları \'gif\', \'png\', \'jpg\', \'jpeg\', \'bmp\' olmalıdır.');
                    return false;
                }
            }

            var formData = new FormData();
            var totalFiles = document.getElementById("fileUploadResim").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("fileUploadResim").files[i];

                formData.append("fileUploadResim", file);
            }
            formData.append('gonderimId', $('#hdnGonderimId').val());
            formData.append('adi', $('#txtGonderimAdi').val());
            formData.append('aciklama', $('#txtGonderimAciklama').val());
            formData.append('gonderimSorgulamaLink', $('#txtGonderimSorgulamaLink').val());
            formData.append('altLimit', $('#txtGonderimAltLimit').val().replace(".", ","));
            formData.append('fiyat', $('#txtGonderimFiyat').val().replace(".", ","));
            formData.append('sira', parseInt($('#txtGonderimSira').val()));
            formData.append('aktifMi', $('#txtGonderimAktifMi').is(":checked") ? true : false);
            formData.append('resim', $('#hdnResimYolu').val());

            $.ajax({
                url: '/Gonderim/KaydetGuncelle',
                data: formData,
                type: "post",
                dataType: "json",
                contentType: false,
                processData: false,

                beforeSend: function () {
                    showLoadingModal();
                },
                success: function (result) {
                    hideLoadingModal();
                    if (result > 0) {
                        callAlert('success', 'Kayıt işlemi başarılı.');
                        setTimeout(function myfunction() {
                            window.location.href = '/Gonderim/Save/' + result;
                        }, 1500);
                    }
                    else {
                        callAlert('error', 'İşlem sırasında bir sorun oluştu. Lütfen tekrar deneyin.');
                    }
                },
                error: function () {
                    hideLoadingModal();
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
            });
        }
    </script>
}

