@using CommerceProject.Business.Entities

@{
    var urun = Model as Urun;
}

<div class="col-sm-2 col-md-2 product product-mini" style="margin-left:-5px !important;" data-appear-animation="fadeIn">
    @*<div class="col-sm-2 col-md-2 product product-mini product-danger rotation">
        <div class="col-sm-2 col-md-2 product product-mini product-info rotation">
        <div class="col-sm-2 col-md-2 product product-mini product-success rotation">
        <div class="col-sm-2 col-md-2 product product-mini product-warning rotation">*@
    <div class="default">
        <span></span>
        @*<span class="sale"></span>
            <span class="new"></span>
            <span class="top"></span>*@
        <a href="/Urun/Detay/@urun.Slug" class="product-image">
            @if (urun.AnaResim == null)
            {
                <img class='replace-2x' src='/Uploads/Product/resim_yok.png' alt="" title="" width="270" height="270" />
            }
            else
            {
                <img class="replace-2x" src="@urun.AnaResim.ResimYolu" alt="" title="" width="270" height="270" />
            }
        </a>
        <div class="actions not-rotation-actions">
            <a href="javascript:;" onclick="sepeteEkle(@urun.UrunId,1,true); return false;" title="Sepete Ekle">
                <img src="/Content/Theme/img/png-icons/sepeteEkle.png" width="16" height="16" />
            </a>
            <a href="javascript:;" onclick="hemenAl(@urun.UrunId,1); return false;" title="Hemen Al">
                <img src="/Content/Theme/img/png-icons/hemenAl.png" width="16" height="16" />
            </a>
        </div>
        <div class="product-description">
            @if (urun.OzelFiyatAktifMi &&
                (urun.OzelFiyatBaslangicTarihi.HasValue && urun.OzelFiyatBaslangicTarihi.Value <= DateTime.Now) &&
                 (urun.OzelFiyatBitisTarihi.HasValue && urun.OzelFiyatBitisTarihi >= DateTime.Now))
            {
                <div class="limit-offer" data-end="@urun.OzelFiyatBitisTarihi.Value.ToString("yyyy/MM/dd HH:mm")">
                    <div class="title">Teklif için kalan süre : </div>
                </div>
            }
            <div class="vertical">
                <h3 class="product-name">
                    <a href="/Urun/Detay/@urun.Slug">@urun.Adi</a>
                </h3>
                <div class="price-box">
                    <span class="price-old">@string.Format("{0:N}", urun.EskiFiyat) <i class="fa fa-try"></i></span>
                    @if (urun.OzelFiyatAktifMi &&
(urun.OzelFiyatBaslangicTarihi.HasValue && urun.OzelFiyatBaslangicTarihi.Value <= DateTime.Now) &&
(urun.OzelFiyatBitisTarihi.HasValue && urun.OzelFiyatBitisTarihi >= DateTime.Now))
                    {
                        <span class="price">@string.Format("{0:N}", urun.OzelFiyat)  <i class="fa fa-try"></i></span>
                    }
                    else
                    {
                        <span class="price">@string.Format("{0:N}", urun.Fiyat)  <i class="fa fa-try"></i></span>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>

