@using CommerceProject.Business.Entities

@{
    ViewBag.Title = "Sanal Pos İşlemleri";
    Layout = "~/Views/Shared/_MainRoot.cshtml";
}

@{
    var sanalPos = ViewBag.SanalPos != null ? (ViewBag.SanalPos as SanalPos) : null;
}

@section css{
    <style type="text/css">
        .dashboard-stat.dashboard-stat-v2.active {
            box-shadow: inset 0 -8px 0 #22313F;
        }

        .dashboard-stat.dashboard-stat-v2.active .number {
            color: black;
        }

        .dashboard-stat.dashboard-stat-v2.active:before {
            content: '';
            position: absolute;
            left: 48%;
            border-style: solid;
            border-width: 20px 20px 0px 20px;
            border-color: white transparent transparent transparent;
            top: 0;
        }

        .dashboard-stat.dashboard-stat-v2 .visual {
            padding-top: 10px !important;
            margin-bottom: 50px !important;
        }

        .dashboard-stat .visual {
            padding-left: 45px !important;
        }

        .dashboard-stat .details .number {
            padding-top: 50px !important;
            font-size: 30px !important;
        }
    </style>
}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 @(sanalPos == null ? "green" : (sanalPos.BankaId == 1 ? "blue active" : "green"))" href="/Banka/VirtualPosSave/1">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    Garanti Bankası
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 @(sanalPos == null ? "green" : (sanalPos.BankaId == 2 ? "blue active" : "green"))" href="/Banka/VirtualPosSave/2">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    Yapı Kredi Bankası
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 @(sanalPos == null ? "green" : (sanalPos.BankaId == 3 ? "blue active" : "green"))" href="/Banka/VirtualPosSave/3">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    Vakıfbank
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 @(sanalPos == null ? "green" : (sanalPos.BankaId == 4 ? "blue active" : "green"))" href="/Banka/VirtualPosSave/4">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    Akbank
                </div>
            </div>
        </a>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 @(sanalPos == null ? "green" : (sanalPos.BankaId == 5 ? "blue active" : "green"))" href="/Banka/VirtualPosSave/5">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    İş Bankası
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 @(sanalPos == null ? "green" : (sanalPos.BankaId == 6 ? "blue active" : "green"))" href="/Banka/VirtualPosSave/6">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    Finansbank
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 @(sanalPos == null ? "green" : (sanalPos.BankaId == 7 ? "blue active" : "green"))" href="/Banka/VirtualPosSave/7">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    Denizbank
                </div>
            </div>
        </a>
    </div>
</div>

@if (sanalPos == null && TempData["message"] != null)
{
    <div class="custom-alerts alert alert-danger fade in">
        @(TempData["message"].ToString())
    </div>
}

@if (sanalPos != null)
{
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-credit-card"></i>
                <span class="caption-subject bold uppercase"> @ViewBag.PageProperties.PageHeader </span>
                <span class="caption-helper">@ViewBag.PageProperties.PageDescription</span>
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    İşlemler
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="/Banka/AccountNumberSearch">
                            <i class="fa fa-search"></i> Hesap Numarası Arama
                        </a>
                    </li>
                    <li>
                        <a href="/Banka/AccountNumberSave">
                            <i class="fa fa-save"></i>  Hesap Numarası Yeni Kayıt
                        </a>
                    </li>
                    <li>
                        <a href="/Banka/InstallmentSearch">
                            <i class="fa fa-search"></i> Taksit Arama
                        </a>
                    </li>
                    <li>
                        <a href="/Banka/InstallmentSave">
                            <i class="fa fa-save"></i> Taksit Yeni Kayıt
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="" class="fullscreen" data-original-title="Tam Ekran" title="Tam Ekran">
                            <i class="fa fa-arrows-alt"></i> Tam Ekran
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="portlet-body form">
            <form id="comform">
                <input id="hdnBankaId" type="hidden" value="@(sanalPos != null ? sanalPos.BankaId.ToString() : "")" />

                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtHost" class="control-label">Host</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="txtHost" name="txtHost" class="form-control input-sm maxlength-handler" maxlength="100" placeholder="Host Giriniz..."
                                           value="@sanalPos.Host" tabindex="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtName" class="control-label">Name</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="txtName" name="txtName" class="form-control input-sm maxlength-handler" maxlength="50" placeholder="Name Giriniz..."
                                           value="@sanalPos.Name" tabindex="2">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtPassword" class="control-label">Password</label>
                                <div class="input-group">
                                    <span class="input-group-addon" onmouseover="javascript: $(this).parent().find('input')[0].type = 'text';" onmouseout="javascript: $(this).parent().find('input')[0].type = 'password';">
                                        <i class="fa fa-eye font-purple"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="txtPassword" name="txtPassword" class="form-control input-sm maxlength-handler" maxlength="50" type="password" placeholder="Password Giriniz..."
                                               value="@sanalPos.Password" tabindex="3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtClientId" class="control-label">Client Id</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="txtClientId" name="txtClientId" class="form-control input-sm maxlength-handler" maxlength="50" placeholder="ClientId Giriniz..."
                                           value="@sanalPos.ClientId" tabindex="4">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtCurrency" class="control-label">Currency</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="txtCurrency" name="txtCurrency" class="form-control input-sm maxlength-handler" maxlength="50" placeholder="Currency Giriniz..."
                                           value="@sanalPos.Currency" tabindex="5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtChargeType" class="control-label">Charge Type</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="txtChargeType" name="txtChargeType" class="form-control input-sm maxlength-handler" maxlength="50" placeholder="ChargeType Giriniz..."
                                           value="@sanalPos.ChargeType" tabindex="6">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtPosNumber" class="control-label">Pos Number</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="txtPosNumber" name="txtPosNumber" class="form-control input-sm maxlength-handler" maxlength="50" placeholder="PosNumber Giriniz..."
                                           value="@sanalPos.PosNumber" tabindex="7">
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtDDDStoreKey" class="control-label">DDD Store Key</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="txtDDDStoreKey" name="txtDDDStoreKey" class="form-control input-sm maxlength-handler" maxlength="50" placeholder="DDD Store Key Giriniz..."
                                           value="@sanalPos.DDDStoreKey" tabindex="10">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtDDDAktifMi" class="control-label">DDD Aktif mi?</label>
                                <div class="icheck-inline">
                                    <input id="txtDDDAktifMi" name="txtDDDAktifMi" type="checkbox" class="make-switch" data-size="small" data-on-text="Aktif" data-off-text="Pasif"
                                           @(sanalPos != null ? (sanalPos.SanalPosId > 0 ? (sanalPos.DDDAktifMi ? "checked" : "") : "checked") : "checked") @(sanalPos == null ? "readonly" : "") tabindex="11">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtXcip" class="control-label">Xcip</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="txtXcip" name="txtXcip" class="form-control input-sm maxlength-handler" maxlength="50" placeholder="Xcip Giriniz..."
                                           value="@sanalPos.Xcip" tabindex="12">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtAktifMi" class="control-label">Aktif mi?</label>
                                <div class="icheck-inline">
                                    <input id="txtAktifMi" name="txtAktifMi" type="checkbox" class="make-switch" data-size="small" data-on-text="Aktif" data-off-text="Pasif"
                                           @(sanalPos != null ? (sanalPos.SanalPosId > 0 ? (sanalPos.AktifMi ? "checked" : "") : "checked") : "checked") @(sanalPos == null ? "readonly" : "") tabindex="13">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-5 col-md-7">
                            @if (sanalPos.SanalPosId == 0)
                            {
                                <button type="submit" class="btn blue" tabindex="10">
                                    Kaydet
                                    <i class="fa fa-save"></i>
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn yellow" tabindex="10">
                                    Güncelle
                                    <i class="fa fa-edit"></i>
                                </button>
                            }
                            <a href="/Banka/VirtualPosSave" class="btn red" tabindex="11">
                                İptal
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

@section js{
    <script type="text/javascript">
        @if(sanalPos != null)
        {
            <text>
        $(document).ready(function () {
            $('#comform').validate({
                errorElement: 'span',
                errorClass: 'help-block help-block-error',
                focusInvalid: false,
                ignore: "",
                invalidHandler: validationInvalidHandler,
                rules: {
                    txtHost: {
                        maxlength: 100,
                        required: false
                    },
                    txtName: {
                        maxlength: 50,
                        required: false
                    },
                    txtPassword: {
                        maxlength: 50,
                        required: false
                    },
                    txtClientId: {
                        maxlength: 50,
                        required: false
                    },
                    txtCurrency: {
                        maxlength: 50,
                        required: false
                    },
                    txtChargeType: {
                        maxlength: 50,
                        required: false
                    },
                    txtPosNumber: {
                        maxlength: 50,
                        required: false
                    },
                    txtXcip: {
                        maxlength: 50,
                        required: false
                    },                   
                    txtDDDStoreKey: {
                        maxlength: 50,
                        required: false
                    }
                },
                errorPlacement: function (error, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                },
                highlight: function (element) {
                    $(element)
                        .closest('.form-group').removeClass("has-success").addClass('has-error');
                },
                unhighlight: function (element) {

                },
                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    icon.removeClass("fa-warning").addClass("fa-check");
                },
                submitHandler: function () {
                    kaydet();
                },
            });
        });

        function kaydet() {
            var data = {
                BankaId: $('#hdnBankaId').val(),
                Host: $('#txtHost').val(),
                Name: $('#txtName').val(),
                Password: $('#txtPassword').val(),
                ClientId: $('#txtClientId').val(),
                Currency: $('#txtCurrency').val(),
                ChargeType: $('#txtChargeType').val(),
                PosNumber: $('#txtPosNumber').val(),
                Xcip: $('#txtXcip').val(),
                DDDStoreKey: $('#txtDDDStoreKey').val(),
                DDDAktifMi: $('#txtDDDAktifMi').is(":checked") ? true : false,
                AktifMi: $('#txtAktifMi').is(":checked") ? true : false
            };

            $.ajax({
                url: '/Banka/SanalPosKaydet',
                data: JSON.stringify(data),
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal();
                },
                success: function (result) {
                    hideLoadingModal();
                    if (result > 0) {
                        callAlert('success', 'Kayıt işlemi başarılı.');
                        setTimeout(function myfunction() {
                            window.location.href = '/Banka/VirtualPosSave/' + result;
                        }, 1500);
                    }
                    else {
                        callAlert('error', 'İşlem sırasında bir sorun oluştu. Lütfen tekrar deneyin.');
                    }
                },
                error: function () {
                    hideLoadingModal();
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
            });
        }
            </text>
        }
    </script>
}


